@media screen and (max-width: 1000px) and (max-height: 1400px) {
    .game-board {
        height: 815px;
    }
}

@media screen and (max-width: 1200px) {
    .game-board {
        height: 828px;
    }
}

@media screen and (width: 1440px){
    .game-board {
        height: 89.3vh;
    }
}

@media screen and (width: 2560px) {
    .game-board {
        height: 89.3vh;
    }
}

@media screen and (max-width: 700px) {
    .game-board {
        max-height: 90vh;
    }

    .pipe {
        width: 50px;
        animation: pipe-animation 1.3s infinite linear;
    }

    .mario {
        width: 120px;
    }

    .jump {
        animation: jump-mario 1.0s ease-out;
    }
}